<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="h2 display-4">Contact Name</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-6 text-right d-flex justify-content-beginning">
                    <img src="" alt="" class="img-responsive" style="max-height: 150px;">
                </div>
                <div class="col-xs-6 text-right d-flex justify-content-end align-items-center" style="margin-top: 60px">
                    <div class="btn-toolbar" style="display: flex; align-items: center;">
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="btn-group ml-2" role="group">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                <a href="#" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h3 class="list-group-item-heading"><strong>Email:</strong> </h3>
                        <h3 class="list-group-item-heading"><strong>Phone:</strong> </h3>
                    </div>
                    <span class="pull-right">
                    <img src="" alt="" class="img-responsive" style="max-height: 50px;">
                    </span>
                </a>
                <!-- <cms-contact-item></cms-contact-item> -->
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
  